<div class="container" ng-controller="storeFrontController">
  <div class="row">
    <div class="col-xs-3" ng-repeat="product in products() track by product._id">
      <div class="thumbnail products__container">
        <img ng-src="{{ product.image }}" />
        <div class="caption">
          <h1>
            <a ui-sref="product({ productId: product._id })">
              {{ product.name }}
            </a>
          </h1>
          <p>
            {{ product.description }}
          </p>
          <a href="#" class="btn btn-primary" ng-click="addToCart(product)">Add to cart</a>
          <a href="#" class="btn"> {{ product.price }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
